<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitHubIssues.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GitHubIssues.Properties.Settings>
            <setting name="MaxIssues" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RepoOwner" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="RepoName" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="PublicRepository" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTokenAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="GitUserName" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="GitPwd" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="ItemStateFilter" serializeAs="String">
                <value>Open</value>
            </setting>
            <setting name="IssueFilter" serializeAs="String">
                <value>All</value>
            </setting>
        </GitHubIssues.Properties.Settings>
    </userSettings>
</configuration>